
@model AccessControlManagement.Models.user



@{

    ViewBag.Title = "After Login";
    Layout = "~/Views/Shared/_Layout.cshtml";

}




<h2>AfterLogin</h2>

@if (Session["LogedUserFullname"] != null)
{
    
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#" data-target="#profPicModal" data-toggle="modal">Change Profile Picture</a>
            <li><a href="#">Change Password</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Change Template</a></li>
            @Html.ActionLink("Deactive Account", "DeactiveAccount", "Home",
           new { onclick = "return confirm('Are you sure you wish to Deactive the Account');" })
            <li><a href="#" id="test-1">FeedBack</a></li>

        </ul>
    </div>



    <text>
        Welcome @Session["LogedUserFullname"].ToString()
    </text>

    <br>
    <br>
    <text>
        Your email is @Html.DisplayFor(model=>model.email_id, new { @fontcolor ="blue"})
    </text>
    <br>
    <br>

    <text>
        Your username is @Html.DisplayFor(model => model.username)
    </text>

  

}

 <!--modal-->
<!--Changa Profile picture-->
<div id="profPicModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h1 class="text-center">Change Profile Picture</h1>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center">

                                <p>Smile Please.</p>
                                <div class="panel-body">
                                    <fieldset>
                                        <div class="form-group">
                                            @using (Html.BeginForm("ChangeProfilePicture", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                            {
                                                <fieldset>
                                                    <legend>Upload a file</legend>
                                                    <div class="editor-field">
                                                    <input type="file" name="file" id="imgInp" />
                                                    </div>
                                                    <img id="blah" src="#" alt="your image" height="100" width="100" />
                                                    <div class="editor-field">
                                                        
                                                        <input class="btn btn-lg btn-info" value="Change Profile Picture" type="submit">
                                                       
                                                    </div>
                                                </fieldset>


                                            }
                                        </div>

                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
<script>

    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#imgInp").change(function () {
        readURL(this);
    });

    //function sucess() {
    //    document.querySelector('#test-1').onclick = function () {
    //        swal("Here's a message!");
    //    };
    //}

 

</script>
}